<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/minty/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/static/app.css" />
    <title>Steepr</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <a style="font-size: 2.2rem" href="/">Steepr</a>
      <ul class="navbar-nav">
        {% if not g.user %}
        <li><a href="/signup">Sign up</a></li>
        <li><a href="/login">Log in</a></li>
        {% else %}
        <li>Welcome {{ g.user.username }}</li>
        <li><a href="/logout">Log out</a></li>
        {% endif %}
      </ul>
    </nav>
    <div class="container">
      <br />
      {% for category, message in get_flashed_messages(with_categories=True) %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
      <br />
    </div>
    {% block content %} {% endblock %}
    <br />
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p>Copyright Steepr &#169; 2023</p>
          </div>
        </div>
      </div>
    </div>
    <script>
      // check for mobile users - unsupported right now
      let hasTouchScreen = false;
      if ("maxTouchPoints" in navigator) {
        hasTouchScreen = navigator.maxTouchPoints > 0;
      }

      if (hasTouchScreen) {
        const body = document.querySelector("body");
        body.innerHTML = "Sorry, Steepr is for desktop users only.";
      }
    </script>
  </body>
</html>
