{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-5">
      <h2 class="join-message">Create Your Steep.</h2>
      <small
        ><a href="https://accounts.spotify.com/en/login" target="_blank"
          >Not logged in to Spotify? Click here.</a
        ></small
      >
      <br />
      <br />
      <form action="/player" method="GET" class="form-group" id="user_form">
        <label for="minutes">Minutes</label>
        <select class="form-control required" name="minutes">
          <!-- <option value="">--Please choose a time--</option> -->
          <option value="2">2 minutes</option>
          <option value="3">3 minutes</option>
          <option value="4" selected>4 minutes</option>
          <option value="5">5 minutes</option>
        </select>
        <br />
        <label for="genre">Genre</label>
        <input
          type="text"
          class="form-control"
          placeholder="e.g. 'folk'. Leave blank to randomize."
          name="genre"
        />
        <br />
        <div class="edit-btn-area">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <br />
  {% if g.user.steeps %}
  <div class="col-xs-1 text-center">
    <h3>Your Steeps</h3>
    <ul style="list-style: none" class="text-center">
      {% for steep in g.user.steeps|reverse %}
      <li><a href="/steeps/{{steep.steep_id}}">{{steep.name}}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <div class="col-xs-1 text-center">
    <h3>Recent Steeps</h3>
    <ul style="list-style: none" class="text-center">
      {% for steep in steeps %}
      <li>
        <a href="/steeps/{{steep.steep_id}}">{{steep.name}}</a> by
        {{steep.username}}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
