{% extends 'homepage.html' %} {% block content %}
<div class="container">
  <br />
  {% for msg in get_flashed_messages() %}
  <div class="alert alert-info">{{msg}}</div>
  {% endfor %}
  <br />

  <iframe
    style="border-radius: 12px"
    src="https://open.spotify.com/embed/track/{{src_id}}?utm_source=generator"
    width="100%"
    height="352"
    frameborder="0"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"
  ></iframe>
  <br />

  <form>
    <button formaction="/" class="btn btn-success">Start a New Steep</button>
    {% if g.user %}
    <button class="btn btn-dark">Save Steep to Your Profile</button>
    <button class="btn btn-primary">
      Save Steep to Your Profile with this Track
    </button>
    {% endif %}
  </form>
  {% endblock %}
</div>
