{% extends 'homepage.html' %} {% block content %}
<div class="container">
  <form class="form">
    <button formaction="/" class="btn btn-success">Start a New Steep</button>
  </form>
  <br />
  <iframe
    style="border-radius: 12px"
    src="https://open.spotify.com/embed/track/{{src_id}}?utm_source=generator"
    width="100%"
    height="352"
    frameborder="0"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"
  ></iframe>
  <br />
  <br />
  {% if g.user %}
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8 col-lg-5">
        <!-- <h2 class="join-message">Save Steep</h2> -->
        <form method="POST" id="steep_form">
          {{ form.hidden_tag() }} {% for field in form if
          field.widget.input_type != 'hidden' %} {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
          {% endfor %} {{ field(placeholder=field.label.text,
          class_="form-control") }} <br />{% endfor %}

          <button formaction="/savesteep" class="btn btn-dark form-control">
            Save Steep to Your Profile
          </button>
          <br />
          <br />
          <button
            formaction="/savespecificsteep"
            class="btn btn-secondary form-control"
          >
            Save Steep to Your Profile with this Track
          </button>
        </form>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
